name: popover_example
description: Popover Example.
version: 0.1.0
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

  popover:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
