name: popover
description: A popover is a transient view that appears above other content onscreen when you tap a control or in an area.
version: 0.2.1
homepage: https://github.com/minikin/popover

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
