name: popover
description: A popover is a transient view that appears above other content onscreen when you tap a control or in an area.
version: 0.3.2
homepage: https://github.com/minikin/popover

environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: '>=3.24.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  leak_tracker_flutter_testing: any